
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="well">
            <h4 class="page-header"><i class="fa fa-plus-circle"></i> Cargar venta</h4>
            <form class="form" name="form" ng-submit="form.$valid && create()" novalidate>
              <div class="form-group">
                <label>Productos</label>
                <input class="form-control" ng-model="asyncSelected" type="text" typeahead-min-length="3" typeahead-on-select="selected($item)" uib-typeahead="client.id as client.fullname for client in getClient($viewValue)">
                <p class="help-block">
                  <i class="fa fa-exclamation-circle"></i> Ingresá al menos 3 letras y seleccioná del listado
                </p>
              </div>

              <div class="form-group">
                <label>Cliente</label>
                <input class="form-control" ng-model="asyncSelected" type="text" typeahead-min-length="3" typeahead-on-select="selected($item)" uib-typeahead="client.id as client.fullname for client in getClient($viewValue)">
                <p class="help-block">
                  <i class="fa fa-exclamation-circle"></i> Ingresá al menos 3 letras y seleccioná del listado
                </p>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon3">TOTAL</span>
                  <input type="text" class="form-control" readonly/>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-warning btn-block" type="submit">
                  GUARDAR
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-8">
          <img src="https://lh3.googleusercontent.com/-dn-OSW_mb18/Wh2xp0BLxSI/AAAAAAAAKWw/fMvieZ5Vm74y0W7cTF4fn6Ooflj7OQikgCL0BGAYYCw/h450/2017-11-28.jpg">
        </div>
      </div>
    </div>
  </div>
</div>