<!doctype html>
<html ng-app="mainApp">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/icon.png?v=1" type="image/x-icon" />
    <title>GDO - Gestion de Operaciones</title>
    <script>
      const URL = '';
    </script>

    <!-- inject:css -->

    <link rel="stylesheet" href="build/css/main-1517490349.min.css">

    <!-- endinject -->

    <!-- inject:js -->

    <script src="build/js/main-1517490439.min.js"></script>

    <!-- endinject -->
  </head>
  <body>
    <div ui-view autoscroll="false" ng-cloak></div>
  </body>
</html>
