<div class="col-md-12">
  <h2 class="page-header"><i class="fa fa-user"></i> Clientes</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form" name="form" ng-submit="form.$valid && create()" novalidate>
        <h3 class="page-header"><i class="fa fa-list"></i> Información basica</h3>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.nombre.$invalid)}">
              <label>Nombre</label>
              <input name="nombre" required type="text" ng-model="client.name" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.apellido.$invalid)}">
              <label>Apellido</label>
              <input name="apellido" required type="text" ng-model="client.surname" class="form-control">
              <p class="help-block">Tal como aparece en el documento de viaje</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.dni.$invalid || form.dni.$invalid)}">
              <label>DNI</label>
              <input maxlength="8" ng-maxlength="8" ng-minlength="7" name="dni" type="text" ng-model="client.dni" class="form-control">
              <p class="help-block">8 caracteres sin puntos ni nada raro</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Email</label>
              <input type="email" name="email" ng-model="client.email" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Teléfono</label>
              <input type="text" name="phone" ng-model="client.phone" class="form-control">
            </div>

          </div>
        </div>

        <div class="form-group">
          <label>Dirección</label>
          <input type="text" ng-model="client.address" class="form-control"/>
        </div>
        <div class="checkbox">
          <label>
            <input ng-model="client.active" type="checkbox">
              Activo
            </input>
          </label>
        </div>

        <hr/>
        <div class="form-group pull-right">
          <button class="btn btn-warning" type="submit">
            GUARDAR
          </button>
        </div>
      </form>
    </div>
  </div>
</div>