<div class="modal-header">
  <h3 class="modal-title">
    Editar componente | {{tipo}}
  </h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <form class="form" name="form">
      	<div class="form-group">
      		<label>Precio venta</label>
          <input class="form-control" readonly value="${{component.precio_venta | number: 2}} {{component.moneda}}"/>
    		</div>
    		<div class="row" ng-if="tipo == 'Hotel' || tipo == 'Asistencia'">
    			<div class="col-md-5">
    				<div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.neto.$invalid)}">
		          <label>Precio neto (por noche)</label>
		          <input name="neto" required type="number" ng-min="0" min="0" class="form-control" ng-model="component.precio_neto" ng-change="component.fantasia = component.precio_neto * multiplicador"/>
		          <p class="help-block">Sin IVA</p>
		        </div>
    			</div>
    			<div class="col-md-2">
    				<div class="form-group" ng-if="tipo == 'Hotel'">
		          <label>Noches</label>
		          <input type="number" readonly class="form-control" ng-model="component.noches"/>
		        </div>
		        <div class="form-group" ng-if="tipo == 'Asistencia'">
		          <label>Días</label>
		          <input type="number" readonly class="form-control" ng-model="component.dias_viaje"/>
		        </div>
    			</div>
    			<div class="col-md-5">
    				<div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.neto.$invalid)}">
		          <label>Precio neto (total)</label>
		          <input type="number" ng-min="0" min="0" class="form-control" ng-model="component.fantasia" ng-change="component.precio_neto = component.fantasia / multiplicador"/>
		          <p class="help-block">Sin IVA</p>
		        </div>
    			</div>
  			</div>

        <div class="row" ng-if="tipo == 'Hotel' || tipo == 'Asistencia'">
    			<div class="col-md-5">
    				<div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.impuesto.$invalid)}">
		          <label>Impuesto (por noche)</label>
		          <input name="impuesto" required type="number" ng-min="0" min="0" class="form-control" ng-model="component.impuesto" ng-change="component.fantasia_impuesto = component.impuesto * multiplicador"/>
		        </div>
    			</div>
    			<div class="col-md-2">
    				<div class="form-group" ng-if="tipo == 'Hotel'">
		          <label>Noches</label>
		          <input type="number" readonly class="form-control" ng-model="component.noches"/>
		        </div>
		        <div class="form-group" ng-if="tipo == 'Asistencia'">
		          <label>Días</label>
		          <input type="number" readonly class="form-control" ng-model="component.dias_viaje"/>
		        </div>
    			</div>
    			<div class="col-md-5">
    				<div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.impuesto.$invalid)}">
		          <label>Impuesto (total)</label>
		          <input type="number" ng-min="0" min="0" class="form-control" ng-model="component.fantasia_impuesto" ng-change="component.impuesto = component.fantasia_impuesto / multiplicador"/>
		        </div>
    			</div>
  			</div>

        <div class="row">
          <div class="col-md-3" ng-if="tipo != 'Hotel' && tipo != 'Asistencia'">
            <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.neto.$invalid)}">
              <label>Precio neto</label>
              <input name="neto" required type="number" ng-min="0" min="0" class="form-control" ng-model="component.precio_neto"/>
              <p class="help-block">Sin IVA</p>
            </div>
          </div>
          <div class="col-md-3" ng-if="tipo != 'Hotel' && tipo != 'Asistencia'">
      			<div ng-if="tipo != 'Hotel' && tipo != 'Asistencia'" class="form-group" ng-class="{ 'has-error': (form.$submitted && form.impuesto.$invalid)}">
              <label>Impuesto</label>
              <input name="impuesto" required type="number" ng-min="0" min="0" class="form-control" ng-model="component.impuesto"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Condicion iva</label>
              <select class="form-control" ng-model="component.condicion_iva" ng-options="iva.nombre for iva in ivas track by iva.id"></select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" ng-show="component.condicion_iva.condicion == 'manual'">
    					<label>IVA</label>
    					<input type="number" ng-min="0" min="0" class="form-control" ng-model="component.iva"/>
    				</div>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.idres.$invalid)}">
          <label>ID Reserva</label>
          <input name="idres" type="text" class="form-control" ng-model="component.id_reserva"/>
        </div>

        <desglose model="component" ng-if="tipo == 'Package' || tipo == 'Hotel'"></desglose>

        <div ng-if="tipo == 'Transport'" restrict="admin, aereos, operaciones">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.facial.$invalid)}">
                <label>Facial</label>
                <input class="form-control" min="0" name="facial" ng-min="0" ng-model="component.facial" required type="number"/>
                <div ng-messages="form.$submitted && form.facial.$error">
                  <p class="help-block" ng-message="min">
                    El valor tiene que ser mayor o igual a 0
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.impuestos.$invalid)}">
                <label>Impuestos</label>
                <input class="form-control" min="0" name="impuestos" ng-min="0" ng-model="component.impuesto" required="" type="number"/>
                <div ng-messages="form.$submitted && form.impuestos.$error">
                  <p class="help-block" ng-message="required">
                    Por favor completá este campo
                  </p>
                  <p class="help-block" ng-message="min">
                    El valor tiene que ser mayor o igual a 0
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.condicion_over.$invalid)}">
                <label>Condición over</label>
                <select class="form-control" name="condicion_over" ng-model="component.condicion_over">
                  <option value="PUTO">Nada</option>
                  <option value="D">Directo</option>
                  <option value="I">Indirecto</option>
                  <option value="X">Manual</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.over.$invalid)}">
                <label>Over</label>
                <input class="form-control" min="0" name="over" ng-min="0" ng-model="component.over" required type="number"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.qn.$invalid)}">
                <label>QN</label>
                <input class="form-control" min="0" name="qn" ng-min="0" ng-model="component.qn" required type="number"/>
              </div>
              
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-3">
              <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.comision.$invalid)}">
                <label>Comisión</label>
                <input class="form-control" min="0" name="comision" ng-min="0" ng-model="component.comision" required type="number"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Iva neto</label>
                <input class="form-control" ng-model="component.iva_neto" type="number" readonly />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-3">
              <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.neto.$invalid)}">
                <label>Precio neto</label>
                <input class="form-control" min="0" name="neto" ng-min="0" ng-model="component.precio_neto" required="" type="number"/>
                <p class="help-block">
                  <i class="fa fa-exclamation-circle"></i> Sin IVA
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>PNR</label>
                <input class="form-control" ng-model="component.id_reserva" type="text"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-3">
              <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.venta_neta.$invalid)}">
                <label>Vta neta</label>
                <input class="form-control" min="0" name="venta_neta" ng-min="0" ng-model="component.venta_neta" required="" type="number"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Pagar BSP</label>
                <input class="form-control" ng-model="component.pagar_bsp" type="number" readonly />
              </div>
            </div>
          </div>
        </div>
    	</form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="ok()">
    <i class="fa fa-save"></i> Guardar
  </button>
  <button class="btn btn-danger" type="button" ng-click="cancel()">
    <i class="fa fa-times"></i> Cerrar
  </button>
</div>
