<div class="modal-header">
  <h3 class="modal-title">Importar informacion</h3>
</div>
<div class="modal-body">
  <div ng-show="!results.length" class="alert alert-info text-center">No se encontraron componentes</div>
  <table ng-show="results.length" class="table table-bordered">
    <thead>
      <th>Nombre</th>
      <th>Ruta</th>
    </thead>
    <tbody>
      <tr ng-repeat="n in results">
        <td>{{n.nombre}}</td>
        <td>
          <div ng-if="!n.ruta">
            <a class="clickable pull-right" ng-click="ok(n.nombre)">Seleccionar <i class="fa fa-check"></i> </a>
          </div>
          <div ng-if="n.ruta" ng-repeat="tramo in n.ruta">
            <b>Tramo {{$index + 1 }}</b>
            <div ng-repeat="subtramo in tramo">
              {{subtramo.texto}}
              <a class="clickable pull-right" ng-click="ok(subtramo.texto)">Seleccionar <i class="fa fa-check"></i> </a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" type="button" ng-click="cancel()">
    <i class="fa fa-times"></i> Cancelar
  </button>
</div>