<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ajax-loader>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" id="login-container">
			<div>
				<div class="row">
					<div class="col-md-4 col-md-offset-4 text-center">
						<img src="https://lesamisviajes.com/img/Les-Amis-Viajes.png" height="100" id="login-logo">
						<form class="form" name="form" ng-submit="form.$valid && login()">
							<div class="form-group">
								<input type="text" class="form-control width-100" ng-model="auth.email" placeholder="Email"/>
							</div>
							<div class="form-group">
								<input type="password" class="form-control width-100" ng-model="auth.password" placeholder="Password"/>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-danger btn-block">
									INGRESAR
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>

