<div class="col-md-12">
  <h2 class="page-header"><i class="fa fa-plus-circle"></i> Agregar producto</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form" name="form" ng-submit="form.$valid && create()" novalidate autocomplete="off">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.nombre.$invalid)}">
              <label>Nombre</label>
              <input name="nombre" required type="text" ng-model="product.name" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.category_id.$invalid)}">
              <label>Categoria</label>
              <select class="form-control" name="category_id" ng-model="product.category_id" ng-options="c.id as c.name for c in categories" required>
                <option value="" disabled>Seleccioná</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.net.$invalid)}">
              <label>Precio neto</label>
              <input name="net" required type="number" ng-model="product.net" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.price.$invalid)}">
              <label>Precio venta</label>
              <input name="price" required type="number" ng-model="product.price" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-warning btn-block">
            GUARDAR
          </button>
        </div>
      </form>
    </div>
  </div>
</div>