<div class="col-md-12">
  <h2 class="page-header"><i class="fa fa-gift"></i> Productos</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form" ng-submit="page(1)">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" ng-model="filtros.name"  >
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Categoria</label>
              <select class="form-control" ng-model="filtros.category_id" ng-options="c.id as c.name for c in categories">
                <option value="">Indistinta</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>&nbsp;</label>
              <button type="submit" class="btn btn-warning btn-block">Filtrar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-10">
        </div>
        <div class="col-md-2">
          <a ui-sref="app.productAdd" class="btn btn-success btn-block">Agregar producto</a>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-info text-center" ng-show="!results.length">
            No se encontraron usuarios
          </div>
          <div class="table-responsive">
            <table class="table table-condensed" ng-show="results.length">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Categoria</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr dir-paginate="n in results | itemsPerPage: 20 | orderBy:sortType:sortReverse" total-items="totalUsers">
                  <td>{{::n.id}}</td>
                  <td>{{::n.name}}</td>
                  <td>{{::n.Category.name}}</td>
                  <td>
                    <a ui-sref="app.productEdit({id: n.id})" class="btn btn-default btn-block btn-xs">
                      Editar
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="pull-right">
            <dir-pagination-controls max-size="6" on-page-change="page(newPageNumber)"></dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
