<div class="col-md-12">
  <h2 class="page-header"><i class="fa fa-plus-circle"></i> Agregar usuario</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form" name="form" ng-submit="form.$valid && create()" novalidate autocomplete="off">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.nombre.$invalid)}">
              <label>Nombre</label>
              <input name="nombre" required type="text" ng-model="user.name" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.apellido.$invalid)}">
              <label>Apellido</label>
              <input type="text" name="apellido" required ng-model="user.surname" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group" ng-class="{ 'has-error': (email_duplicado) || (form.$submitted && form.username.$invalid)}">
              <label>Nombre de usuario</label>
              <input ng-blur="buscar()" type="text" name="username" required ng-model="user.username" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.password.$invalid)}">
              <label>Password</label>
              <input type="password" name="password" required ng-model="user.password" class="form-control" ng-minlength="6">
              <p class="help-block">6 caracteres o más</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.rol.$invalid)}">
              <label>Rol</label>
              <select ng-model="user.rol_id" name="rol" required class="form-control">
                <option value='' disabled>Seleccioná un rol</option>
                <option value='1'>Administrador</option>
                <option value='2'>Usuario</option>
              </select>
            </div>
          </div>
        </div>

        <div class="checkbox">
          <label>
            <input ng-model="user.active" type="checkbox">
              Usuario activo
            </input>
          </label>
        </div>
        <hr/>

        <div class="form-group pull-right">
          <button class="btn btn-warning" type="submit">
            GUARDAR
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


