<div class="col-md-12">
  <h2 class="page-header"><i class="fa fa-pencil"></i> Mi cuenta</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.nombre.$invalid)}">
                <label>Nombre</label>
                <input name="nombre" required type="text" ng-model="user.name" class="form-control">
                <div ng-messages="form.$submitted && form.nombre.$error">
                  <div ng-messages-include="ngmessages/errors.html"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.apellido.$invalid)}">
                <label>Apellido</label>
                <input name="apellido" required type="text" ng-model="user.surname" class="form-control">
                <div ng-messages="form.$submitted && form.apellido.$error">
                  <div ng-messages-include="ngmessages/errors.html"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group" ng-class="{ 'has-error': (form.$submitted && form.telefono.$invalid)}">
                <label>Teléfono</label>
                <input name="telefono" required type="text" ng-model="user.phone" class="form-control">
                <div ng-messages="form.$submitted && form.telefono.$error">
                  <div ng-messages-include="ngmessages/errors.html"></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Interno</label>
                <input name="interno" type="text" ng-model="user.intern" class="form-control">
                <p class="help-block">Solo numeros</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h3 class="page-header"><i class="fa fa-envelope"></i> Etiquetas Email</h3>
          <div class="row">
            <div class="col-md-6">
              <ul>
                <li ng-repeat="etiqueta in user.etiquetas">
                  <div>{{etiqueta.text}}</div>
                  <ul ng-if="etiqueta.children">
                    <li ng-repeat="child in etiqueta.children">
                      <div>{{child.text}}</div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <select class="form-control" ng-model="etiqueta.padre" ng-options="n.text as n.text for n in user.etiquetas">
                  <option value="">Padre</option>
                </select>
              </div>
              <div class="form-group">
                <input class="form-control input-sm" ng-model="etiqueta.text" name="etiqueta" placeholder="Etiqueta" type="text"/>
              </div>
              <div class="form-group">
                <a class="btn btn-default btn-xs btn-block" ng-click="crearEtiqueta(); $event.stopPropagation();">Crear etiqueta</a>
              </div>
            </div>
          </div>
          <hr/>
        </div>
        <div class="col-md-12">
          <div class="form-group pull-right">
            <button class="btn btn-warning" type="submit">
              GUARDAR
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>